.navbar1 {
    color: $intermediate;
    background-color: $dark;
}

.navbar {
    background-color: transparent;

    .navbar-brand {
        color: $dark;
        font-family: $font-family-base2;
    }

    .nav-link {
        color: $dark;
        font-family: $font-family-base2;

        &:hover {
            text-decoration: underline;
        }

        &:click {
            background-color: $dark;
        }
    }

    .btn-outline-success {
        --bs-btn-border-color: none;
    }
}

.dropdown-menu {
    --bs-dropdown-divider-bg: none;
    border-radius: .2rem;
}