h1 {
    color: $light;
    font-family: $font-family-base;
}

main {
    margin: 0;
    min-height: 100vh;

    background-image: url("../images/pexels-kaique-rocha-65437.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}