{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}
{% block head %}
	{% block stylesheet %}
		<link rel="stylesheet" href="../../assets/styles/header.scss">
	{% endblock %}
{% endblock %}


{% block body %}
	<h1>{{ website }}
		Bienvenue!</h1>
	<main></main>

{% endblock %}
