{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<main>
		<div class="picture">
			<h1>{{ website }}
				Bienvenue!</h1>
		</div>
	</main>
{% endblock %}
