<footer>
	<div class="container-fluid left d-inline-flex p-2">
		<div class="left1">
			<h3>La Wild Cinemathèque</h3>
			<ul>
				<li>À propos</li>
				<li>Presse</li>
				<li>Partenaire et donateurs</li>
			</ul>
		</div>
		<div class="left2">
			<h3>Adresse</h3>
			<p>1 Avenue du Champ de Mars</p>
			<p>45074 Orléans, France</p>
			<h3>Contact</h3>
			<p>orleans@wildcodeschool.com</p>
			<p>+336708066</p>
		</div>
		<div class="right1">
			<div class="network d-inline-flex p-2 justify-content-between">

				<p>Facebook</p>
				<p>Instagram</p>
				<p>Twitter</p>
				<p>Linkedin</p>
				<p>Youtube</p>
			</div>
			<div class="form">
				<p>Abonnez-vous à l'infowild pour ne rien manquer de nos activités !</p>
				<label for="email" class="h4 pb-2 mb-4 text-danger border-bottom border-danger">Votre Couriel</label>
				<input for="email" name="email" id="email" required/>
				<button type="button" class="btn btn-light">Envoyer</button>
			</div>
		</div>
	</div>
	<div class="partner d-inline-flex p-2 justify-content-around">
		<img src="/assets/images/favicon.png" alt="Wild Logo">
		<img src="/assets/images/favicon.png" alt="Wild Logo">
		<img src="/assets/images/favicon.png" alt="Wild Logo">
		<img src="/assets/images/favicon.png" alt="Wild Logo">
		<img src="/assets/images/favicon.png" alt="Wild Logo">
	</div>
	<div class="infos d-inline-flex p-2 d-flex justify-content-around">
		<p>Copyright 2023 ©Wild Séries</p>
		<p>Politique de confidentialité</p>
		<p>Conditions d'utilisation</p>
		<p>Renouvellement membership</p>
		<p>Mis à jour du profil membre</p>
		<p>Crédit</p>
	</div>
</footer>
